MiTienda/src/ServicioPago/localhost_8080/Tienda/WsPago.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://wspago/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://wspago/" name="WsPago">
<types>
<xsd:schema>
<xsd:import namespace="http://wspago/" schemaLocation="http://localhost:8080/Tienda/WsPago?xsd=1"/>
</xsd:schema>
</types>
<message name="remove">
<part name="parameters" element="tns:remove"/>
</message>
<message name="count">
<part name="parameters" element="tns:count"/>
</message>
<message name="countResponse">
<part name="parameters" element="tns:countResponse"/>
</message>
<message name="find">
<part name="parameters" element="tns:find"/>
</message>
<message name="findResponse">
<part name="parameters" element="tns:findResponse"/>
</message>
<message name="create">
<part name="parameters" element="tns:create"/>
</message>
<message name="findByIdfactura">
<part name="parameters" element="tns:findByIdfactura"/>
</message>
<message name="findByIdfacturaResponse">
<part name="parameters" element="tns:findByIdfacturaResponse"/>
</message>
<message name="findByIdcliente">
<part name="parameters" element="tns:findByIdcliente"/>
</message>
<message name="findByIdclienteResponse">
<part name="parameters" element="tns:findByIdclienteResponse"/>
</message>
<message name="findByISBN">
<part name="parameters" element="tns:findByISBN"/>
</message>
<message name="findByISBNResponse">
<part name="parameters" element="tns:findByISBNResponse"/>
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="hayFondos">
<part name="parameters" element="tns:hayFondos"/>
</message>
<message name="hayFondosResponse">
<part name="parameters" element="tns:hayFondosResponse"/>
</message>
<message name="findRange">
<part name="parameters" element="tns:findRange"/>
</message>
<message name="findRangeResponse">
<part name="parameters" element="tns:findRangeResponse"/>
</message>
<message name="edit">
<part name="parameters" element="tns:edit"/>
</message>
<message name="nuevoPedido">
<part name="parameters" element="tns:nuevoPedido"/>
</message>
<message name="nuevoPedidoResponse">
<part name="parameters" element="tns:nuevoPedidoResponse"/>
</message>
<portType name="WsPago">
<operation name="remove">
<input wsam:Action="http://wspago/WsPago/remove" message="tns:remove"/>
</operation>
<operation name="count">
<input wsam:Action="http://wspago/WsPago/countRequest" message="tns:count"/>
<output wsam:Action="http://wspago/WsPago/countResponse" message="tns:countResponse"/>
</operation>
<operation name="find">
<input wsam:Action="http://wspago/WsPago/findRequest" message="tns:find"/>
<output wsam:Action="http://wspago/WsPago/findResponse" message="tns:findResponse"/>
</operation>
<operation name="create">
<input wsam:Action="http://wspago/WsPago/create" message="tns:create"/>
</operation>
<operation name="findByIdfactura">
<input wsam:Action="http://wspago/WsPago/findByIdfacturaRequest" message="tns:findByIdfactura"/>
<output wsam:Action="http://wspago/WsPago/findByIdfacturaResponse" message="tns:findByIdfacturaResponse"/>
</operation>
<operation name="findByIdcliente">
<input wsam:Action="http://wspago/WsPago/findByIdclienteRequest" message="tns:findByIdcliente"/>
<output wsam:Action="http://wspago/WsPago/findByIdclienteResponse" message="tns:findByIdclienteResponse"/>
</operation>
<operation name="findByISBN">
<input wsam:Action="http://wspago/WsPago/findByISBNRequest" message="tns:findByISBN"/>
<output wsam:Action="http://wspago/WsPago/findByISBNResponse" message="tns:findByISBNResponse"/>
</operation>
<operation name="findAll">
<input wsam:Action="http://wspago/WsPago/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://wspago/WsPago/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="hayFondos">
<input wsam:Action="http://wspago/WsPago/hayFondosRequest" message="tns:hayFondos"/>
<output wsam:Action="http://wspago/WsPago/hayFondosResponse" message="tns:hayFondosResponse"/>
</operation>
<operation name="findRange">
<input wsam:Action="http://wspago/WsPago/findRangeRequest" message="tns:findRange"/>
<output wsam:Action="http://wspago/WsPago/findRangeResponse" message="tns:findRangeResponse"/>
</operation>
<operation name="edit">
<input wsam:Action="http://wspago/WsPago/edit" message="tns:edit"/>
</operation>
<operation name="nuevoPedido">
<input wsam:Action="http://wspago/WsPago/nuevoPedidoRequest" message="tns:nuevoPedido"/>
<output wsam:Action="http://wspago/WsPago/nuevoPedidoResponse" message="tns:nuevoPedidoResponse"/>
</operation>
</portType>
<binding name="WsPagoPortBinding" type="tns:WsPago">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="remove">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="count">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="find">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="create">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findByIdfactura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findByIdcliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findByISBN">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hayFondos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="edit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="nuevoPedido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WsPago">
<port name="WsPagoPort" binding="tns:WsPagoPortBinding">
<soap:address location="http://localhost:8080/Tienda/WsPago"/>
</port>
</service>
</definitions>