MiTienda/src/ServicioAlmacen/localhost_8080/Tienda/WsAlmacen.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://wsalmacen/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://wsalmacen/" name="WsAlmacen">
<types>
<xsd:schema>
<xsd:import namespace="http://wsalmacen/" schemaLocation="http://localhost:8080/Tienda/WsAlmacen?xsd=1"/>
</xsd:schema>
</types>
<message name="find">
<part name="parameters" element="tns:find"/>
</message>
<message name="findResponse">
<part name="parameters" element="tns:findResponse"/>
</message>
<message name="create">
<part name="parameters" element="tns:create"/>
</message>
<message name="createResponse">
<part name="parameters" element="tns:createResponse"/>
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="comprobarStock">
<part name="parameters" element="tns:comprobarStock"/>
</message>
<message name="comprobarStockResponse">
<part name="parameters" element="tns:comprobarStockResponse"/>
</message>
<message name="findByIsbn">
<part name="parameters" element="tns:findByIsbn"/>
</message>
<message name="findByIsbnResponse">
<part name="parameters" element="tns:findByIsbnResponse"/>
</message>
<message name="updateStock">
<part name="parameters" element="tns:updateStock"/>
</message>
<message name="updateStockResponse">
<part name="parameters" element="tns:updateStockResponse"/>
</message>
<portType name="WsAlmacen">
<operation name="find">
<input wsam:Action="http://wsalmacen/WsAlmacen/findRequest" message="tns:find"/>
<output wsam:Action="http://wsalmacen/WsAlmacen/findResponse" message="tns:findResponse"/>
</operation>
<operation name="create">
<input wsam:Action="http://wsalmacen/WsAlmacen/createRequest" message="tns:create"/>
<output wsam:Action="http://wsalmacen/WsAlmacen/createResponse" message="tns:createResponse"/>
</operation>
<operation name="findAll">
<input wsam:Action="http://wsalmacen/WsAlmacen/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://wsalmacen/WsAlmacen/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="comprobarStock">
<input wsam:Action="http://wsalmacen/WsAlmacen/comprobarStockRequest" message="tns:comprobarStock"/>
<output wsam:Action="http://wsalmacen/WsAlmacen/comprobarStockResponse" message="tns:comprobarStockResponse"/>
</operation>
<operation name="findByIsbn">
<input wsam:Action="http://wsalmacen/WsAlmacen/findByIsbnRequest" message="tns:findByIsbn"/>
<output wsam:Action="http://wsalmacen/WsAlmacen/findByIsbnResponse" message="tns:findByIsbnResponse"/>
</operation>
<operation name="updateStock">
<input wsam:Action="http://wsalmacen/WsAlmacen/updateStockRequest" message="tns:updateStock"/>
<output wsam:Action="http://wsalmacen/WsAlmacen/updateStockResponse" message="tns:updateStockResponse"/>
</operation>
</portType>
<binding name="WsAlmacenPortBinding" type="tns:WsAlmacen">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="find">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="create">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="comprobarStock">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findByIsbn">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateStock">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WsAlmacen">
<port name="WsAlmacenPort" binding="tns:WsAlmacenPortBinding">
<soap:address location="http://localhost:8080/Tienda/WsAlmacen"/>
</port>
</service>
</definitions>