MiTienda/src/ServicioMedioPago/localhost_8080/Tienda/WsMedioPago.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://wsmediopago/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://wsmediopago/" name="WsMedioPago">
<types>
<xsd:schema>
<xsd:import namespace="http://wsmediopago/" schemaLocation="http://localhost:8080/Tienda/WsMedioPago?xsd=1"/>
</xsd:schema>
</types>
<message name="find">
<part name="parameters" element="tns:find"/>
</message>
<message name="findResponse">
<part name="parameters" element="tns:findResponse"/>
</message>
<message name="create">
<part name="parameters" element="tns:create"/>
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="updateFondosMedPag">
<part name="parameters" element="tns:updateFondosMedPag"/>
</message>
<message name="updateFondosMedPagResponse">
<part name="parameters" element="tns:updateFondosMedPagResponse"/>
</message>
<message name="decrementaFondos">
<part name="parameters" element="tns:decrementaFondos"/>
</message>
<message name="decrementaFondosResponse">
<part name="parameters" element="tns:decrementaFondosResponse"/>
</message>
<message name="findByIdfactura">
<part name="parameters" element="tns:findByIdfactura"/>
</message>
<message name="findByIdfacturaResponse">
<part name="parameters" element="tns:findByIdfacturaResponse"/>
</message>
<portType name="WsMedioPago">
<operation name="find">
<input wsam:Action="http://wsmediopago/WsMedioPago/findRequest" message="tns:find"/>
<output wsam:Action="http://wsmediopago/WsMedioPago/findResponse" message="tns:findResponse"/>
</operation>
<operation name="create">
<input wsam:Action="http://wsmediopago/WsMedioPago/create" message="tns:create"/>
</operation>
<operation name="findAll">
<input wsam:Action="http://wsmediopago/WsMedioPago/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://wsmediopago/WsMedioPago/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="updateFondosMedPag">
<input wsam:Action="http://wsmediopago/WsMedioPago/updateFondosMedPagRequest" message="tns:updateFondosMedPag"/>
<output wsam:Action="http://wsmediopago/WsMedioPago/updateFondosMedPagResponse" message="tns:updateFondosMedPagResponse"/>
</operation>
<operation name="decrementaFondos">
<input wsam:Action="http://wsmediopago/WsMedioPago/decrementaFondosRequest" message="tns:decrementaFondos"/>
<output wsam:Action="http://wsmediopago/WsMedioPago/decrementaFondosResponse" message="tns:decrementaFondosResponse"/>
</operation>
<operation name="findByIdfactura">
<input wsam:Action="http://wsmediopago/WsMedioPago/findByIdfacturaRequest" message="tns:findByIdfactura"/>
<output wsam:Action="http://wsmediopago/WsMedioPago/findByIdfacturaResponse" message="tns:findByIdfacturaResponse"/>
</operation>
</portType>
<binding name="WsMedioPagoPortBinding" type="tns:WsMedioPago">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="find">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="create">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateFondosMedPag">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="decrementaFondos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findByIdfactura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WsMedioPago">
<port name="WsMedioPagoPort" binding="tns:WsMedioPagoPortBinding">
<soap:address location="http://localhost:8080/Tienda/WsMedioPago"/>
</port>
</service>
</definitions>