MiTienda/src/ServicioMensajeria/localhost_8080/Tienda/WsEnvios.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://wsenvios/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://wsenvios/">

<xs:element name="ParseException" type="tns:ParseException"/>

<xs:element name="articulo" type="tns:articulo"/>

<xs:element name="cliente" type="tns:cliente"/>

<xs:element name="create" type="tns:create"/>

<xs:element name="createResponse" type="tns:createResponse"/>

<xs:element name="empresa" type="tns:empresa"/>

<xs:element name="envio" type="tns:envio"/>

<xs:element name="factura" type="tns:factura"/>

<xs:element name="findAll" type="tns:findAll"/>

<xs:element name="findAllResponse" type="tns:findAllResponse"/>

<xs:element name="findByFechaEntrega" type="tns:findByFechaEntrega"/>

<xs:element name="findByFechaEntregaResponse" type="tns:findByFechaEntregaResponse"/>

<xs:element name="findByIdfactura" type="tns:findByIdfactura"/>

<xs:element name="findByIdfacturaResponse" type="tns:findByIdfacturaResponse"/>

<xs:element name="mediopago" type="tns:mediopago"/>

<xs:element name="nuevoEnvio" type="tns:nuevoEnvio"/>

<xs:element name="nuevoEnvioResponse" type="tns:nuevoEnvioResponse"/>

<xs:complexType name="findByFechaEntrega">
<xs:sequence>
<xs:element name="deliveryDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByFechaEntregaResponse">
<xs:sequence>
<xs:element name="return" type="tns:envio" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="envio">
<xs:sequence>
<xs:element name="empresaId" type="tns:empresa" minOccurs="0"/>
<xs:element name="facturaId" type="tns:factura" minOccurs="0"/>
<xs:element name="fechaentrega" type="xs:dateTime" minOccurs="0"/>
<xs:element name="idenvio" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="empresa">
<xs:sequence>
<xs:element name="idempresa" type="xs:int" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="factura">
<xs:sequence>
<xs:element name="articuloIsbn" type="tns:articulo" minOccurs="0"/>
<xs:element name="cantidad" type="xs:int"/>
<xs:element name="clienteId" type="tns:cliente" minOccurs="0"/>
<xs:element name="idfactura" type="xs:int" minOccurs="0"/>
<xs:element name="mediopagoId" type="tns:mediopago" minOccurs="0"/>
<xs:element name="totalapagar" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="articulo">
<xs:sequence>
<xs:element name="empresaId" type="tns:empresa" minOccurs="0"/>
<xs:element name="isbn" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="precio" type="xs:decimal" minOccurs="0"/>
<xs:element name="stock" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cliente">
<xs:sequence>
<xs:element name="apmat" type="xs:string" minOccurs="0"/>
<xs:element name="appat" type="xs:string" minOccurs="0"/>
<xs:element name="cp" type="xs:int"/>
<xs:element name="direccion" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="idcliente" type="xs:int" minOccurs="0"/>
<xs:element name="mediopagoId" type="tns:mediopago" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="telefono" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mediopago">
<xs:sequence>
<xs:element name="fondos" type="xs:decimal" minOccurs="0"/>
<xs:element name="idmedpago" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ParseException">
<xs:sequence>
<xs:element name="errorOffset" type="xs:int"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="create">
<xs:sequence>
<xs:element name="entity" type="tns:envio" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="nuevoEnvio">
<xs:sequence>
<xs:element name="idFactura" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="nuevoEnvioResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByIdfactura">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByIdfacturaResponse">
<xs:sequence>
<xs:element name="return" type="tns:factura" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAll">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllResponse">
<xs:sequence>
<xs:element name="return" type="tns:envio" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>