MiTienda/src/ServicioMensajeria/localhost_8080/Tienda/WsEnvios.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://wsenvios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://wsenvios/" name="WsEnvios">
<types>
<xsd:schema>
<xsd:import namespace="http://wsenvios/" schemaLocation="http://localhost:8080/Tienda/WsEnvios?xsd=1"/>
</xsd:schema>
</types>
<message name="create">
<part name="parameters" element="tns:create"/>
</message>
<message name="createResponse">
<part name="parameters" element="tns:createResponse"/>
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="findByFechaEntrega">
<part name="parameters" element="tns:findByFechaEntrega"/>
</message>
<message name="findByFechaEntregaResponse">
<part name="parameters" element="tns:findByFechaEntregaResponse"/>
</message>
<message name="ParseException">
<part name="fault" element="tns:ParseException"/>
</message>
<message name="nuevoEnvio">
<part name="parameters" element="tns:nuevoEnvio"/>
</message>
<message name="nuevoEnvioResponse">
<part name="parameters" element="tns:nuevoEnvioResponse"/>
</message>
<message name="findByIdfactura">
<part name="parameters" element="tns:findByIdfactura"/>
</message>
<message name="findByIdfacturaResponse">
<part name="parameters" element="tns:findByIdfacturaResponse"/>
</message>
<portType name="WsEnvios">
<operation name="create">
<input wsam:Action="http://wsenvios/WsEnvios/createRequest" message="tns:create"/>
<output wsam:Action="http://wsenvios/WsEnvios/createResponse" message="tns:createResponse"/>
</operation>
<operation name="findAll">
<input wsam:Action="http://wsenvios/WsEnvios/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://wsenvios/WsEnvios/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="findByFechaEntrega">
<input wsam:Action="http://wsenvios/WsEnvios/findByFechaEntregaRequest" message="tns:findByFechaEntrega"/>
<output wsam:Action="http://wsenvios/WsEnvios/findByFechaEntregaResponse" message="tns:findByFechaEntregaResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://wsenvios/WsEnvios/findByFechaEntrega/Fault/ParseException"/>
</operation>
<operation name="nuevoEnvio">
<input wsam:Action="http://wsenvios/WsEnvios/nuevoEnvioRequest" message="tns:nuevoEnvio"/>
<output wsam:Action="http://wsenvios/WsEnvios/nuevoEnvioResponse" message="tns:nuevoEnvioResponse"/>
</operation>
<operation name="findByIdfactura">
<input wsam:Action="http://wsenvios/WsEnvios/findByIdfacturaRequest" message="tns:findByIdfactura"/>
<output wsam:Action="http://wsenvios/WsEnvios/findByIdfacturaResponse" message="tns:findByIdfacturaResponse"/>
</operation>
</portType>
<binding name="WsEnviosPortBinding" type="tns:WsEnvios">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="create">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findByFechaEntrega">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="nuevoEnvio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findByIdfactura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WsEnvios">
<port name="WsEnviosPort" binding="tns:WsEnviosPortBinding">
<soap:address location="http://localhost:8080/Tienda/WsEnvios"/>
</port>
</service>
</definitions>